<html>
  <head>
    <title>Idp Forward</title>
  </head>
  <body>
    <h3>Redirecting...</h3>
    <form action="<%= @sp_url %>" method="POST">
      <textarea name="SAMLResponse"><%= @saml_response %></textarea>
      <textarea name="RelayState"><%= @relay_state %></textarea>
      <br /><br />
      <input type="submit" />
    </form>
    <script type="text/javascript">
      // auto-submit the form above
      document.forms[0].submit()
    </script>
  </body>
</html>
