<html>
  <head>
    <title>Idp Tester</title>
    <style>
      input { width: 500px; }
    </style>
  </head>
  <body>
    <h1>Test Your SAML Auth</h1>
    <form action="go" method="POST">
      <input type="text" name="name_id" placeholder="The nameID you want to send" />
      <br />
      <input type="text" name="sp_url" placeholder="The URL you want to send to" />
      <br /><br />
      <input type="submit" />
    </form>
  </body>
</html>
